// ReSharper disable All

using Lumina.Text;
using Lumina.Data;
using Lumina.Data.Structs.Excel;

namespace Lumina.Excel.GeneratedSheets
{
    [Sheet( "%%SHEET_NAME%%", columnHash: %%COL_HASH%% )]
    public partial class %%SHEET_NAME%% : ExcelRow
    {
%%STRUCT_DEFS%%
%%DATA_MEMBERS%%
        public override void PopulateData( RowParser parser, GameData gameData, Language language )
        {
            base.PopulateData( parser, gameData, language );

%%DATA_READERS%%
        }
    }
}