using Lumina.Data;
using Lumina.Data.Structs.Excel;

namespace Lumina.Excel.GeneratedSheets
{
    [Sheet( "%%SHEET_NAME%%", columnHash: %%COL_HASH%% )]
    public class %%SHEET_NAME%% : IExcelRow
    {
%%STRUCT_DEFS%%
%%DATA_MEMBERS%%
        public uint RowId { get; set; }
        public uint SubRowId { get; set; }

        public void PopulateData( RowParser parser, Lumina lumina, Language language )
        {
            RowId = parser.Row;
            SubRowId = parser.SubRow;

%%DATA_READERS%%
        }
    }
}