name: Build

on:
  push:
    branches: '*'
    tags-ignore: '*'
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.0
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
    - name: Build with dotnet
      run: dotnet build --configuration Release --nologo ./src/Lumina.sln
    - name: dotnet test
      run: dotnet test --configuration Release --nologo ./src/Lumina.sln
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Lumina-${{ matrix.os }}
        path: |
          ./src/Lumina/bin/Release/*.nupkg
          ./src/Lumina/bin/Release/*.snupkg
          ./src/Lumina/bin/Release/**/Lumina*.dll
          ./src/Lumina/bin/Release/**/Lumina*.xml
          ./src/Lumina/bin/Release/**/Lumina*.pdb
          ./src/Lumina/bin/Release/**/Lumina*.deps.json
